:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */

body {
  margin: 0;
  display: flex;
  padding: 0%;
  /* place-items: center; */
  /* min-width: 320px; */
  min-height: 100vh;
  background-color: #3A6B35

  ;
}
/* div{
 
  width: 99%;
  height: 100vh;   */

.footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  background-color:#CBD18F ;
  width: 97%;
  border-radius: 5px;
}
.head{
  background-color:#CBD18F ;
  width: 97%;
  border-radius: 5px;
  height: 55px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.blog{
  width: 70%;
  background-color: #E3B448;
  border-radius: 5px;
}

h2{
  margin-bottom: 0rem;
}
p{
  margin-top: 0.5rem;
}

.highlights{
  position: absolute;
  right: 68px;
  top: 112px;
  height: 450px;
  width: 300px;
  background-color: #E3B448;
  border-radius: 5px;
}

.footer > p , .head > h2 {
  color:#b2ac88;
  font-size: 17px;
  font-weight: 600;
}

.footer > p{
  font-weight: 600;
  font: size 20px; ;
}
.highlights >h5  {
  color: white;
  font-size: 15px;
  position: relative;
  

}
.highlights > p{
  
  color: white;
  font-size: 15px;
  position: inherit;
}